{{#section 'css'}}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin="" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css">
<link rel="stylesheet" href="/css/project.css">
{{/section}}

{{#section 'loginQueryParams'}}
?redirect={{request.url}}
{{/section}}

<div class="row jumbotron p-2 m-0">
  <a class="btn btn-secondary" href="/projects/{{project.id}}">
    <i class="fas fa-chevron-left"></i> {{project.name}} Page
  </a>
  {{#if (userIsMemberOfGroup request.user project.Group)}}
  <button class="btn btn-primary ml-2" type="button" id="saveMapBtn">
    <i class="fas fa-save"></i> Save Map
  </button>
  {{/if}}
</div>

<div class="w-100" id="map" data-project-id="{{project.id}}" style="height:calc(100vh - 110px)"></div>

{{#section 'js'}}
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
  integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
  crossorigin=""></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>

{{#if (userIsMemberOfGroup request.user project.Group)}}
<script src="/js/edit-map.js"></script>
{{else}}
<script src="/js/map.js"></script>
{{/if}}
{{/section}}