{{#section 'css'}}
<link rel="stylesheet" href="/css/project.css">
{{#if edit}}
<!-- Include stylesheet -->
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
{{/if}}
{{/section}}

{{#if edit}}
{{#section 'nav-items'}}
<li class="nav-item">
  <button type="button" class="nav-item nav-link btn btn-link" data-toggle="modal" data-target="#editModal">
    <i class="fas fa-edit"></i> Edit Page</button>
</li>
{{/section}}
{{/if}}

<div class="w-100 bg-info" id="map" style="height:33vh"></div>

<div class="container mt-4">

  <div class="row">
    <div class="col-md-4 mb-5">
      <div class="row align-items-center">
        <div class="col">
          <h1 class="display-4">{{project.name}}</h1>
          <p class="lead">
            {{project.description}}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p class="text-muted"><i class="fa fa-map-marker-alt"></i> {{project.location}}</p>
          <p class="text-muted"><i class="fas fa-calendar-alt"></i></i> {{formatDate project.start 'MMMM YYYY'}} -
            {{formatDate project.end 'MMMM YYYY'}}</p>
          <p class="text-muted"><i class="fas fa-users"></i> {{length project.Users}} Followers</p>
          {{#if (isAuthenticated request)}}
          <button id="followBtn" type="button" class="btn btn-primary btn-lg btn-block"
            {{#if (userFollowsProject request project)}}data-followed{{/if}}>
            {{#if (userFollowsProject request project)}}
            <i class="fas fa-user-minus"></i> Unfollow this Project
            {{else}}
            <i class="fas fa-user-plus"></i> Follow this Project
            {{/if}}
          </button>
          {{else}}
          <a class="btn btn-primary btn-lg btn-block" href="/login?redirect={{request.url}}"><i class="fas fa-user-plus"></i> Login
            to Follow</a>
          {{/if}}
        </div>
      </div>
    </div>

    <div class="col-md-8 mb-5">
      <!-- Nav tabs -->
      <ul class="nav nav-pills mb-4" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="timeline-tab" data-toggle="tab" href="#timeline" role="tab">Timeline</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="about-tab" data-toggle="tab" href="#about" role="tab">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="posts-tab" data-toggle="tab" href="#posts" role="tab">Posts</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="timeline" role="tabpanel">
          <div class="container">
            <div class="row">
              <div class="col">
                <ul class="timeline">
                  <li>
                    <h4 class="jumbotron p-2 text-center">Project End - {{formatDate project.end 'MMMM YYYY'}}</h4>
                  </li>
                  {{#each project.Events}}
                  {{> event/event-block}}
                  {{/each}}
                  <!--
                  <li>
                    <h4 class="jumbotron p-2 text-center">Today - July 6, 2019</h4>
                  </li>
                  -->

                  <li>
                    <h4 class="jumbotron p-2 text-center">
                      Project Start - {{formatDate project.start 'MMMM YYYY'}}
                    </h4>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="about" role="tabpanel">
          {{{aboutHtml}}}
        </div>
        <div class="tab-pane" id="posts" role="tabpanel">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Ben Miller <small>mail@benkmiller.com • Jun 18</small></h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde ipsa aperiam odio
                minima, deleniti natus similique impedit adipisci itaque, sit quo, eligendi illum nobis. Veritatis, modi 
                cum! Officia, similique. Sed?.</p>
              <div class="card-text">
                <a href="#">Reply</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
</div>

{{#if edit}}
<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Page</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
          <div id="form-container" class="container">
            <form>
              <div class="form-group row">
                <label for="nameInput" class="col-lg-2 col-form-label">Project Name</label>
                <div class="col-lg-10">
                  <input type="text" class="form-control" id="nameInput" placeholder="Enter text" value="{{project.name}}">
                </div>
              </div>
              <div class="form-group row">
                <label for="descriptionTextarea" class="col-lg-2 col-form-label">Description</label>
                <div class="col-lg-10">
                  <textarea class="form-control" id="descriptionTextarea" rows="3">{{project.description}}</textarea>
                </div>
              </div>
              <div class="form-group row">
                <label for="nameInput" class="col-lg-2 col-form-label">Location</label>
                <div class="col-lg-10">
                  <input type="text" class="form-control" id="locationInput" placeholder="Enter text" value="{{project.location}}">
                </div>
              </div>
              <div class="form-group row">
                <label for="startInput" class="col-lg-2 col-form-label">Start Date</label>
                <div class="col-lg-10">
                  <input type="date" class="form-control" id="startInput" placeholder="Enter date" value="{{formatDate project.start 'YYYY-MM-DD'}}">
                </div>
              </div>
              <div class="form-group row">
                <label for="endInput" class="col-lg-2 col-form-label">End Date</label>
                <div class="col-lg-10">
                  <input type="date" class="form-control" id="endInput" placeholder="Enter date" value="{{formatDate project.end 'YYYY-MM-DD'}}">
                </div>
              </div>
            </form>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="saveProjectBtn">Save changes</button>
      </div>
    </div>
  </div>
</div>
{{/if}}

{{#section 'js'}}
{{#if edit}}
<!-- Include the Quill library -->
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
{{/if}}

<script>
  $(document).ready(function () {
    $('#followBtn').click(function () {
      let followed = $(this).data('followed')
      let url = '/api/follow?user_id={{request.user.id}}&project_id={{project.id}}&value=' + followed
      $.ajax({
          url: url,
          type: 'PUT'
        })
        .done(function (data) {
          document.location.reload()
        })
        .fail(function (error) {
          throw error
        })
    })
  })
</script>

{{#if edit}}
<script>
  $(document).ready(function () {
    // let quill = new Quill('#editor', { theme: 'snow' })

    $('#saveProjectBtn').click(function () {
      let projectId = parseInt(window.location.pathname.replace('/projects/', ''))
      let name = $('#nameInput').val().trim()
      let description = $('#descriptionTextarea').val().trim()
      let location = $('#locationInput').val().trim()
      let start = $('#startInput').val().trim()
      let end = $('#endInput').val().trim()
      $.ajax({
        url: '/api/projects',
        type: 'PUT',
        data: {
          id: projectId,
          name: name,
          description: description,
          location: location,
          start: start,
          end: end
        }
      })
      .done(function (data) {
        document.location.reload()
      })
      .fail(function (error) {
        throw error
      })
    })
  })
</script>
{{/if}}
<!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
<script>
  function initMap() {

    map = new google.maps.Map(document.getElementById('map'));

    if (!google.maps.Polygon.prototype.getBounds) {

      google.maps.Polygon.prototype.getBounds = function () {
        var bounds = new google.maps.LatLngBounds();
        var paths = this.getPaths();
        var path;
        for (var i = 0; i < paths.getLength(); i++) {
          path = paths.getAt(i);
          for (var ii = 0; ii < path.getLength(); ii++) {
            bounds.extend(path.getAt(ii));
          }
        }
        return bounds;
      }

    }

    let paths = [{
        lat: 27.303865,
        lng: -80.329024
      },
      {
        lat: 27.305074,
        lng: -80.321676
      },
      {
        lat: 27.297980,
        lng: -80.307798
      },
      {
        lat: 27.299994,
        lng: -80.296639
      },
      {
        lat: 27.298180,
        lng: -80.295914
      },
      {
        lat: 27.295884,
        lng: -80.306346
      },
      {
        lat: 27.303180,
        lng: -80.320815
      },
      {
        lat: 27.302334,
        lng: -80.328299
      }
    ]

    var polygon = new google.maps.Polygon({
      paths: paths,
      strokeColor: '#FF0000',
      strokeOpacity: 0.8,
      strokeWeight: 2,
      fillColor: '#FF0000',
      fillOpacity: 0.35
    });

    console.log(polygon);

    polygon.setMap(map);

    var bounds = new google.maps.LatLngBounds();
    bounds = polygon.getBounds();
    map.fitBounds(bounds);

  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBogJPw220WsvPGVwvTyt3SudYMRVrgiig&amp;callback=initMap"
  async="" defer=""></script>
-->
{{/section}}