<!-- Modal -->
<div class="modal fade" id="projectModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="projectModalLabel">Edit Project</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-4">
              <!-- Nav tabs -->
              <ul class="nav nav-pills flex-column mb-4" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="project-info-tab" data-toggle="tab" href="#project-info" role="tab">Info</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="project-about-tab" data-toggle="tab" href="#project-about" role="tab">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="project-map-tab" data-toggle="tab" href="#project-map" role="tab">Map</a>
                </li>
              </ul>
            </div>
            <div class="col-8">
              <!-- Tab panes -->
              <div class="tab-content">
                <div class="tab-pane active" id="project-info" role="tabpanel">
                  <div id="form-container" class="container">
                    <form>
                      <div class="form-group row">
                        <label for="projectNameInput">Project Name</label>
                        <input type="text" class="form-control" id="projectNameInput" placeholder="Enter text"
                          value="{{project.name}}">
                      </div>
                      <div class="form-group row">
                        <label for="projectDescriptionTextarea">Description</label>
                        <textarea class="form-control" id="projectDescriptionTextarea"
                          rows="4">{{project.description}}</textarea>
                      </div>
                      <div class="form-group row">
                        <label for="projectLocationInput">Location</label>
                        <input type="text" class="form-control" id="projectLocationInput" placeholder="Enter text"
                          value="{{project.location}}">
                      </div>
                      <div class="form-group row">
                        <label for="projectStartInput">Start Date</label>
                        <input type="date" class="form-control" id="projectStartInput" placeholder="Enter date"
                          value="{{date project.start 'YYYY-MM-DD'}}">
                      </div>
                      <div class="form-group row">
                        <label for="projectEndInput">End Date</label>
                        <input type="date" class="form-control" id="projectEndInput" placeholder="Enter date"
                          value="{{date project.end 'YYYY-MM-DD'}}">
                      </div>
                    </form>
                  </div>
                </div>

                <div class="tab-pane" id="project-about" role="tabpanel">
                  <div class="modal-editor" id="projectEditor">
                    {{{aboutHtml}}}
                  </div>
                </div>

                <div class="tab-pane" id="project-map" role="tabpanel">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="saveProjectBtn">Save changes</button>
      </div>
    </div>
  </div>
</div>